LIST

PROPERTIES OF A LIST:
1. ORDERED: Data stored in a list are charactersed by an index value.
2. MUTABLE: The data stored in a list can be modified.  
3. HOLD ITMES OF ANY DATA TYPE: Can contain int, str, sets, tuples, dict, etc
4. ITERABLE: All data values can be accessed once in a go.

In [5]:
List=[1, 3, 8, 2, 3, 0, 4, 8, 0, 0, 5]

In [7]:
# append
List.append(10)
List
# List.append() takes only one argument, so we can provide a number or a data structure like set, tuple, dict.

[1, 3, 8, 2, 3, 0, 4, 8, 0, 0, 5, 10]

In [9]:
# extend
List.extend([11,12])
List

[1, 3, 8, 2, 3, 0, 4, 8, 0, 0, 5, 10, 11, 12]

Here we can only give an iterable data structure as an argument. And the list will append the values from that iterable one by one.

In [12]:
# insert
List.insert(0,13)
List

[13, 1, 3, 8, 2, 3, 0, 4, 8, 0, 0, 5, 10, 11, 12]

The insert method takes two argument; 0 is the index and 13 is the value that should be inserted at that index.

In [15]:
# remove 
List.remove(0)
List

[13, 1, 3, 8, 2, 3, 4, 8, 0, 0, 5, 10, 11, 12]

The remove method removes only the first instance of the data value which is provided in the argument. In this list we had 3 zero, and after executing 
the remove method the first instance of the zero was removed.

In [18]:
# pop
List.pop(2)
List

[13, 1, 8, 2, 3, 4, 8, 0, 0, 5, 10, 11, 12]

The pop method takes an index value of the data value which is to be removed from List

In [21]:
# index
List.index(0)

7

The index method takes a value as an argument and results the index number of that value. But it results only index number of the first instance.

In [24]:
# count
List.count(0)

2

This count method returns the number of repetition of a data value in the list.

In [27]:
# sort
List.sort(reverse=False)
List

[0, 0, 1, 2, 3, 4, 5, 8, 8, 10, 11, 12, 13]

The sort method sorts the list in ascending order by default, if reverse = True, then sort in descending order.

In [30]:
# reverse
List.reverse()
List

[13, 12, 11, 10, 8, 8, 5, 4, 3, 2, 1, 0, 0]

reverse method simply reverses the whole list, but does not sorts. The above seems sorted because in earlier line sort method was used.

In [33]:
# clear
List.clear()
List

[]

The clear method simply empties the whole list.

LIST COMPREHENSIONS

List comprehensions provide a concise way to create lists. 
Common applications are to make new lists where each element is the result of 
some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a 
certain condition.

In [38]:
# List comprehensions using for loop and append

list_2=[11,24,56]
for i in range(5):
    list_2.append(i)

list_2

[11, 24, 56, 0, 1, 2, 3, 4]

Here we see that a current list is appended using a for loop and an append method. This would work even if list_2 would have been an empty list.

In [41]:
# List comprehension using map and lambda

list_3=list(map(lambda x : x**2, range(10)))
list_3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Here we see that a new list is created using lambda and map function. 
The map() function is used to apply a given function to every item of an iterable, such as a list or tuple, 
and returns a map object (which is an iterator).

In [44]:
# list comprehension using a unique way

list_4=[x**2 for x in range(10)]
list_4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Here we see that a new list is created using a for loop as shown above, this is easy to implement and more efficient than the other two.

In [47]:
# The del statement 

list_5=[2,5,8,9,0,10,28,74]

del list_5[2]
list_5

[2, 5, 9, 0, 10, 28, 74]

In [49]:
del list_5[1:3]
list_5

[2, 0, 10, 28, 74]

In [51]:
del list_5[:]
list_5

[]

In [53]:
del list_5
list_5

NameError: name 'list_5' is not defined

The del statement discards the value from the list given it's index number. del statement can also be used to discard/remove the data values from 
list like slicing operation as shown above. Also the entire list can be made empty. 
And another interesting fact is this we can delete the entire variable also, when del list_5 is executed, we see that list_5 is not defined, which 
means that the variable list_5 does not exist.