SET PROPERTIES
1. UNORDERED
2. MUTABLE
3. ITERABLE
4. SET

Set can contain string, boolean, tuple, float, int.

In [3]:
set1={1,2,3,4,'awari',0,100}

type(set1)

set

Set can be defined as mentioned.

In [6]:
set2=set()

type(set2)

set

In [8]:
set3={4,2,6,8,'ash',100}
set3

{100, 2, 4, 6, 8, 'ash'}

In [10]:
# add method

set3.add(0)
set3

{0, 100, 2, 4, 6, 8, 'ash'}

add method inserts a value to any selected random integer.

In [13]:
# pop method

set3.pop()
set3

{100, 2, 4, 6, 8, 'ash'}

pop method remove any random value from a set.

In [16]:
# remove method

set3.remove(6)
set3

{100, 2, 4, 8, 'ash'}

remove method removes that particular value, given as argument.

In [19]:
# update method

set3.update([4,7])
set3

{100, 2, 4, 7, 8, 'ash'}

update method is used to add data values from a literal data structure.

In [22]:
# discard method 

set3.discard(7)
set3

{100, 2, 4, 8, 'ash'}

The difference between remove and discard is, discard will not throw an error if that particular data value is not there, whereas remove will throw an error.

In [25]:
# union method

union=set1.union(set3)
union

{0, 1, 100, 2, 3, 4, 8, 'ash', 'awari'}

In [27]:
# difference method

setd=set1.difference(set3)
setd

{0, 1, 3, 'awari'}

difference method implements set1-set3 operation and results a new set.

setd = set1-set3 will also give same result.

setd = set1.difference(set2,set3)
will perform set1-set2-set3 operation

to perform set1 = set1-set3 :  set1.difference_update(set3)

In [30]:
# intersection method

seti=set1.intersection(set3)
seti

{2, 4, 100}

intersection method returns a set, intersection of set1 and set3.

to perform set1 = set1(intersection)set3 : set1.intersection_update(set3)

In [33]:
# disjoint method

set1.isdisjoint(set3)

False

Disjoint sets are those sets which have no intersection between them.
So the above two sets are not disjont set, as they do have an intersection set having some items in it.

In [36]:
# subset method

set1.issubset(set3)

False

issubset method checks whether set1 is a subset of set2, and if yes then returns True or else False.

In [39]:
# superset method

set1.issuperset(set3)

False

superset method checks whether set1>=set3, if satisfied then returns True or else False.

In [42]:
# symmetric difference 

set8=set1.symmetric_difference(set3)
set8

{0, 1, 3, 8, 'ash', 'awari'}

The set which contains the elements which are either in set 1 or in set 3 but not in both is called the symmetric difference between two given sets.

To perform set1 = set1 ‚äù set3 : set1=set1.symmetric_difference_update(set3)

In [45]:
# clear 

set1.clear()

set1

set()

clear method empties the given set.

SET COMPREHENSION

In [50]:
setc= {x for x in range(8) if x%2==0}

setc

{0, 2, 4, 6}